/*  COLORS  */

.black {background-color: #333}
.red {background-color: #c4391d}
.brown {background-color: #bd9e6e}
.tan {background-color: #e3d6c3}
.text-black {color: #333}
.text-red {color: #c4391d}
.text-brown {color: #bd9e6e}
.text-tan {color: #e3d6c3}

/*  TESIING */

.blue {background-color: rgba(22, 46, 167, 0.58)}
.green {background-color: rgba(57, 167, 22, 0.6)}
.purple {background-color: rgba(117, 22, 167, 0.6)}
.teal {background-color: rgba(25, 208, 199, 0.6)}
.pink {background-color: rgba(214, 70, 150, 0.35)}
.orange {background-color: rgba(208, 118, 25, 0.6)}
.yellow {background-color: rgba(243, 247, 9, 0.9)}



/* GLOBAL OVERRIDES */

.center {
    margin: 0 auto;
    margin-right: auto;
    float: none }

.text-center {
    text-align: center!important;
}
    
.right {
    float: right!important;
    text-align: right;
    margin-right: 0

}

.panel {
    border-style: none !important; 
    border-width: 0 !important;
    border-color: #d8d8d8 !important;
    margin-bottom: 0 !important;
    padding: 0 !important;
    background: inherit !important;
}


body {
	background-color: #e3d6c3;
	font-family: "acumin-pro";
	font-size: 14px;
    max-width: 100%;
    margin-left: 1%; 
}

.column, .columns {
	padding-left: 0;
    padding-right: 0;
    width: auto; 
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: inherit;
    font-size: 60%;
    line-height: inherit;
}


.col-md-6.right {
    padding-left: 0 }

.col-md-6.left {
    padding-right: 0
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 0;
    display: inline-block;
    vertical-align: middle;
    padding-left: 1%;
    padding-right: 1%;

}

.border {
    border: 3px solid #333;
 }



/*  TYPOGRAPHY */
 
p, li {
	font-family: "acumin-pro";
	font-size: .8rem;
    margin-bottom: 0 }


h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
}
 
h1 {
    font-size: 20px;
    letter-spacing: .9px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1 }


h2 {
    font-size: 18px}

h3 {
    font-size: 16px }

h4 {
    font-size: 14px }
    
h5 {
    font-size: 12px }


/* LIST STYLES */

ul {
    margin-bottom: 0;
    list-style-type: square;
    list-style-position: outside
     }

li {
    line-height: 1.2;
    margin-bottom: 4%;
    list-style-position: outside;
}

/*  WIDTH OVERRIDES  */

.width10 {
    width: 10%
}

.width12 {
    width: 12%
}

.width15 {
    width: 15%
}

.width20 {
    width: 20%
}

.width30 {
    width: 30%
}

.width40 {
    width: 40%
}

.width50 {
    width: 50%
}

.width60 {
    width: 60%
}

.width70 {
    width: 70%
}

.width90 {
    width: 70%
}

.width100 {
    width: 100%
}

.width110 {
    width: 110%
}

.width120 {
    width: 120%
}

.width130 {
    width: 130%
}


/* SECTIONS */


h1.title {
    font-size: 3.8em;
    color: #c4391d;
}

h2.subTitle {
    font-size: 2.8em;
    color: #bd9e6e;
}

.row.contactInfo {
    padding: 2.5% 1%;
    min-height: 35px;
}


.leftInfo, .rightInfo {
    max-width: 100%;
}


h4.leftInfo, h4.rightInfo {
    color: #e3d6c3;
    font-size: 2.0em;
    padding: 0;
    margin: 0;
    line-height: .7;
}


/* ASSETS DIV */

.assetsLeft {
    margin-bottom: 1%;
    max-width: 40%;
}

.assetsRight {
    margin-bottom: 1%;
    width: 600px;
    max-width: 65%;
}

/* HIRE ME */

.hireMe {
    padding: 2%;
    margin: 1% 0;
    max-width: 60%;
    float: right;
}

img.hireMe {
    max-width: 90%;
}

/* SCHOOL */

.row.schoolSection {
    width: 120%;
}

.mySchool {
    float: left;
    max-width: 46%;
    margin-top: 4%;
}

h5.schoolTitle {
    font-size: 3.6em;
    margin: 1%;
    font-weight: 500;
}

.schoolDegree {
    max-width: 80%;
}

img.schoolLogo {
    max-width: 45%;
    padding-right: 0;
    padding-left: 5%;
}

.row.myDegree {
    width: 100%;
}

h3.myDegree {
    font-size: 3em;
    margin-top: 0;
}


h5.degree {
    font-size: 5em;
    font-weight: 800;
}

h5.degree.m {

}

h5.degree.d {
    margin-top: -25%;
}



/* WHAT I CAN DO */

td.assets {
    margin-right: -2%;
}

ul.assets {
    color: #e3d6c3;
    margin-top: 8%;
    margin-left: 0;
    padding-left: 20%;
}

li.assets {
    font-size: 1.4em;
    color: #e3d6c3;
}

.header-box {
    max-width: 95%;
}

h3.assetsTitle {
    font-size: 2.4em;
    color:#bd9e6e;
    border-top: 6px solid #c4391d;
    margin-top: 3%;
    padding: 2%;
}

/* ARROWS */

.arrows {
    max-height: 20px;
    min-height: 20px;
    margin: 1px 0;
}



/* SKILLS SECTION */

.skills {
    min-height: 35px;
}

.container-fluid.skills {
    border-top: 3px solid #333;
    margin-top: 2%;
    padding-top: 1%;
}

.row.skills {
    margin: 3px 0;
}

h4.skills, h5.skills {
    font-size: 2.7em;
    padding: 3px;
}

.skillsLogos {
    margin-left: 5%;
}

.softwearLogo {
    max-height: 60px;
    margin-right: 0;
}

/* WORK SECTION */

.workBlock {
    max-width: 100%;
    min-width: 98%;
    margin-top: 1%;
}

.workLogo {
    max-width: 50px;
    margin-right: 2%;
}

p.work {
    font-size: .8em;
    margin-top: 0;
}
h1.work {
    font-size: 1.77em;
}



h2.work {
    font-size: .8em;
}

h3.work {
    font-size: .9em;
    font-weight: 500;
}

h4.work {
    font-size: 1.5em;
    line-height: .6;
    padding: 0;
    margin: 0;
    vertical-align: middle!important;
}



.row.work {
    margin-top: 1%;
    padding-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    border-top: 1px solid #333;
    min-height: 50px;
    vertical-align: middle;
}

.infoBlock {
    padding-top: 2%;
    margin-left: 2%;
}

.row.workPad {
    margin: 1%;
}

.workTitle {
    margin: 1% .2% 1.2% .2%;

}

/* FOOTER */

.row.socialIcons {
    margin: 10px 0;
    border-top: 4px solid #333;
    border-bottom: 4px solid #333;
}

.socialIcons {
    font-size: 1.3em;
    text-align: center;
    padding: 2%;

}

.fa.socialIcons {
    padding: 2%;

}






/*  TESTING */