

/* GLOBAL STYLES*/ 

html {
   background-color:#272727 }

h2 {
    color: #bd9c6b;
    margin-top: 1% }

table tr th, table tr td {
    padding: 0;
    font-size: 1rem;
    color: #222222 }

table {
    margin-bottom: 0;
    border: 0 }

.grey {
   background-color:#333333}
    
.line {
   width:50px }

.linebr {
   background-color:#bd9c6b;
   height:1px;
   vertical-align:middle;
   padding:0;
   margin:0 }
   
#header-row {
   margin-bottom:0;
   margin-top:0px; 
   padding-top:2rem;
   padding-bottom:2rem }

#row1 {
   padding:30px;
   margin-bottom:0px;
   margin-top:0px }

#row2 {
   margin-top:-1px; }

#row3 {
   margin-top:-10px; 
   margin-bottom:0px }
  

   
#row5 {
   margin-top:-10px; 
   margin-bottom:0 }
   
#row6 {
   padding:20px 20px 0px 20px;
   margin-top: -2px }
   
#row6a {
   margin-top: -20px;
   margin-bottom: 0px }
   
#row7 {
   width: 100%;
   padding-top:80px;
   padding-bottom:10px;
   margin-left: auto;
   margin-right: auto;
   margin-top:-10px;
   margin-bottom:0 }


/*  Line Styles */
.linebr {
   height:1px;
   width:46% }
.linebr_l {
   height:1px;
   width:44%;
   text-align:left }
.linebr_r {
   height:1px;
   width:44%;
   text-align:right }
.init {
   width:6%;
   margin: 0 2% }
h2.wel {
   margin-bottom:10px }
.envelope {
   font-size:.9rem }
#rec {
   background-color:#bd9c6;
   padding:0;
   margin:10px 0 }
       

.sigsml {
   padding:10px 8px 7px 0px;
   width:40px }

/* HEADER */   
  
#sub-header-row {
   margin-bottom:0px;
   padding-bottom-10px;
   border-bottom:5px solid rgba(189,156,107,1);
   border-top:10px solid rgba(189,156,107,.3)!important;
   border-bottom:10px solid rgba(189,156,107,.3)!important;
   -webkit-box-shadow: 0px 2px 5px 7px rgba(0,0,0,0.51);
   -moz-box-shadow: 0px 2px 5px 7px rgba(0,0,0,0.51);
   box-shadow: 0px 2px 5px 7px rgba(0,0,0,0.51);
   z-index=100 }

#header_right {
   padding:0;
   padding-right:20px;
   margin:0 }

#header_left h1{
   margin-left:-8px }

/* NAV BAR */
	
#nav {
   background-color:rgba(0,0,0,.4)!important; }

#nav-row {
   padding-bottom:10px }
	
a.nav {
   background: -moz-linear-gradient(270deg, rgba(189,156,107,1) 0%, rgba(0,0,0,1) 100%)!important; /* ff3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(189,156,107,1)), color-stop(100%, rgba(0,0,0,1)))!important; /* safari4+,chrome */
   background: -webkit-linear-gradient(270deg, rgba(189,156,107,1) 0%, rgba(0,0,0,1) 100%)!important; /* safari5.1+,chrome10+ */
   background: -o-linear-gradient(270deg, rgba(189,156,107,1) 0%, rgba(0,0,0,1) 100%)!important; /* opera 11.10+ */
   background: -ms-linear-gradient(270deg, rgba(189,156,107,1) 0%, rgba(0,0,0,1) 100%)!important; /* ie10+ */
   background: linear-gradient(180deg, rgba(189,156,107,1) 0%, rgba(0,0,0,1) 100%)!important; /* w3c */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd9c6b', endColorstr='#000000',GradientType=0 )!important; } /* ie6-9 */ 
   
.navbtn {
   color:#bd9c6b !important;
   font-size: 1em !important;
   padding-left:8px;
   padding-right:8px }

.navinit {
   text-align:center;
   vertical-align:middle;
   padding:5px 8px 3px 0px }

#topsec {
    padding-right: 30px;
    padding-left: 5px }

/* BROKER STYLES*/

#broker {
   font-family:Forum, cursive;
   font-size:.95rem;
   line-height:114%;
   margin:0px;
   padding:0px 5px 10px 0px }

.name {
   width:100%;
   font-family: "Pinyon Script", cursive;
   font-size: 1.5rem;
   padding-top: 15px;
   padding-bottom:6px;
   margin-bottom:0px;
   text-align:center }
   
.rep {
   padding-top:6px;
   padding-bottom:15px }  

/* INFO SQUARE (below portrait) */

#info-square {
   border:1px solid #bd9c6b;
   padding:30% 5% 20% 5%;
   margin-top:30px }

.broker-logo {
   padding:5% 0 }

.logo-bottom {
   margin-top:30px }

/* ORBIT */

.orbit-container .orbit-slides-container {
    list-style: none;
    margin: 0;
    padding: 0px 0px 0px 0px;
    position: relative;
    -webkit-transform: translateZ(0) }

/* ABOUT INTRO */

#intro {
   background-color:#FFFDFA !important;
   margin:30px 0px 0px 0px;
   padding:20px;
   color:#444444 !important;
   font-family: Forum, cursive;
   font-size:1rem;
   line-height:100% }

#intro p {
   font-size: 1.2rem;
   line-height: 1.1 }

/* KUDOS */

.kudos-box {
   -webkit-box-shadow: inset 0px 0px 35px -1px rgba(189,156,107,1);
   -moz-box-shadow: inset 0px 0px 35px -1px rgba(189,156,107,1);
   box-shadow: inset 0px 0px 35px -1px rgba(189,156,107,1);
   padding:1% 2%}

.kudos {
   font-family: 'Forum', cursive;
   color: #fe9e0cf;
   font-size: .93em;
   font-style: italic;
   line-height: 100%;
   text-align: left }
   
 /*  INFO REQUEST */

.contact-box {
   padding: 20px; }

.cta-contact {
   margin:20px }

#contact-form {
   margin-left: 20px;
   padding-top: 20px;
   min-height: 328px }

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
    -webkit-appearance: none;
    background-color: #FFFDFA ;
    font-family: inherit;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-size: 0.875rem;
    margin: 0;
    padding: 0.5rem;
    height: 2rem;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
    -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
    transition: box-shadow 0.45s, border-color 0.45s ease-in-out }

.input-right {
   margin-left: 15% }

input[type="tel"] {
   margin-left: 15% }

input[type="checkbox"], input[type="radio"], select {
    margin: 0 0 1rem 1rem }

button#feedbacksubmit {
   width:100%;
   padding: 8px 20px }

.inline {
   display: inline-block }

.input-sm {
   width:46% }

.contact-btn {
   margin: 10% 0 0 0 }

#req {
   text-align:center;
   margin-top: 15px }
   
#request p {
   font-size: 1.4rem;
   line-height: 2 }

.form-group {
   margin:10px 0 }

.form-message {
   padding-top: 10px }

#happy {
   padding: 15px }


/* CTA */

#row4 {
   width:120%;
   padding-top:5px;
   padding-bottom:5px;
   border-top:   10px solid rgba(189,156,107,.3)!important;
   border-bottom:10px solid rgba(189,156,107,.3)!important;
   -webkit-box-shadow: 0px 2px 5px 7px rgba(0,0,0,0.51);
      -moz-box-shadow: 0px 2px 5px 7px rgba(0,0,0,0.51);
           box-shadow: 0px 2px 5px 7px rgba(0,0,0,0.51);
   z-index=100
   vertical-align:middle }


/*  FOOTER STYLES  */

.footer-text {
  margin-top:-10px;
  margin-right: 25px }




/*  MOBILE ONLY NEW */

.mobile-panel {
  margin-top:0;
  margin-bottom:0;
  padding-top:0;
  padding-bottom:0; }

#mobile-header-row {
  margin-bottom:0;
  margin-top:0px; 
  padding-top:1rem;
  padding-bottom:0 }

#mobile-sub-header-row {
  margin-bottom:0px;
  border-bottom:5px solid rgba(189,156,107,1);
  border-top:10px solid rgba(189,156,107,.3)!important;
  border-bottom:10px solid rgba(189,156,107,.3)!important;
  padding: 5% 1%;
  z-index=100 }

.mobile-linebr {
  background-color:#bd9c6b;
  height:1px;
  vertical-align:middle !important;
  width:38% }

.mobile-linebr-l {
  text-align:left }

.mobile-linebr-r {
  text-align:right }

.mobile-init {
  width:13%;
  margin: 0 2% }

h1.mobile-title{
  font-family: "Pinyon Script", cursive;
  font-style: normal;
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 400;
  color: #bd9c6b;
  letter-spacing: 1px;
  line-height: 1.1;
  text-align: center;
  margin: 0 0 3% 0 }

h2.mobile-sub-title {
  font-family: Forum,cursive;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.3;
  text-align: center }

#mobile-main-content {
  padding: 5% 1% 2% 1% }

#mobile-menu {
  margin:5% 0; }

.mobile-menu-link {
  background: #333333;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Forum,cursive;
  color: #bd9c6b;
  font-size: .8em;
  padding: 10px;
  border:1px solid #222222;
  text-decoration: none;
  text-align: center; 
  margin-top: 10px;
  margin-bottom: 10px }
   
a.mobile.visited {
  color: #bd9c6b }

#mobile-pic {
  text-align:center;
  margin-bottom:0;
  margin-top:0;
  padding-top:10px;
  padding-bottom:0;
  width:90% }

#mobile-logo-section {
  padding: 1% 1% 5% 1%;
  margin:0 auto;
  float: none !important;
  text-align: center!important }

.mobile-logo {
  margin: 0 5% }

p.mobile-copy {
  font-size: .6rem;
  padding-top: 3.5% }




