/**
 * Project: Pennies2dollars.com
 * Version: 1.0
 * Last change: 08/31/15 [fixed Float bug, vf]
 * Assigned to: Julie Berry
 * Primary use: Online business card
 * Notes: consider Wordpress for style completion. Client needs guidance regarding function
 */

/******************************************************************************/

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300);


body {
   width:100%;
   height:100%;
   margin:0;
   padding:0;
   background-color:#f0f0f0;
   font-family:'Source Sans Pro', sans-serif;
   font-size: 18px}
  
section { }

.row { }
  
.center {
    text-align:center;
    margin:0, auto }

.row-centered {
    text-align:center }
.col-centered {
    display:inline-block;
    float:none }
  
.right {
    float:right }

h1, h2 {
    margin-top:0;
    margin-bottom:0 }
  
p {
   font-size:1.6rem;
   line-height:1;
   font-weight:300; }
  
a {
   outline:0;
   text-decoration:none;
   color:#f67c05 }
  
a:hover {
   outline:0;
   text-decoration:none;
   color:#f67c05 }
  
a img {
   border:none;
   color:rgba(0, 0, 0, 0) }
  
ul, li {
   list-style:none;
   margin:0;
   font-size:1.8rem }
ul {
    float:left }

li {
    width:100% }
  
img {
   z-index:99; }

.sides {
   padding:0 5% }

 /* COLORS */

.ltblue {
   background-color: #004565; }

.dkblue {
   background-color: #002434; }

.ltgray {
   background-color: #f0f0f0; }

.gray {
   background-color: #d7d7d7; }
 
 
/* TOP */

.top {
   height:10% }

.top h1 {
   font-size: 3rem;
   margin-top: 2%;
   color: #f0f0f0;
   line-height: 1.25 }

.top h2 {
   font-size: 1.8rem;
   margin-top: 0;
   color: #f0f0f0;
   line-height: 1.1;
   padding-bottom: 1% }


 /* MAIN SECTION */

 .main {
   padding: 5% 15% }
 	
 .main h1 {
   background-color: rgba(34, 34, 34, 0.32);
   padding: 5%;
   font-size: 3.8rem;
   margin-right: 7%;
   color: #222;
   line-height: 1.25;
   float: right;
   text-align: center  }


 .box {
   background: #aebe97 url(http://test.codestardev.com/assets/images/dollars.jpg) left top no-repeat;
   background-size: 100% 100%;
   padding-top: 7%;
   padding-bottom: 12% }

 .shadow {
   -webkit-box-shadow: 3px 3px 5px 6px rgba(35, 35, 35, 0.58);;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
   -moz-box-shadow:    3px 3px 5px 6px rgba(35, 35, 35, 0.58);;  /* Firefox 3.5 - 3.6 */
   box-shadow:         3px 3px 5px 6px rgba(35, 35, 35, 0.58);;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
 }


.message {
   float: right;
   text-align: right;
   background-color: #333333;
   height: 50%;
   width: 25% }
 

/* INFO SECTION */

.info {
 	padding: 5% 10% }

.placeholderImage {
   background: #ffffff url(http://test.codestardev.com/assets/images/penelope01.jpg) left top no-repeat;
   background-size: 100% 100%;
   height: 250px;
   width: 200px  }

.about p {
   font-size: 2rem;
   color: #f0f0f0;
   float: right;
   text-align: left;
   margin-left: 5%;
   padding-bottom: 2%;
   line-height: 1.15 }

p.myQuote {
   font-size: 1.8rem;
   font-style: italic;
   float: left;
   color: #999 }


 /*  CERT SECTION  */

.cert {
   padding: 5% }

.cert img {
   height: 100px }

.cert h2 {
   float: left;
   padding-top: 5% }

  /* DOWNLOADS SECTION */

 .downloads {
   height: 100%;
   padding: 3% 15% }

 .download-bg {
   width: 90%;
   padding-top: 1%;
   border-bottom: 8px solid #004565 }

 .download-bg h2 {
   color: #f0f0f0;
   text-align: center;
   padding:2% 1% 1% 1% }

.vertical {
   height: 100%;
   border-left: 1px solid #000 }

/*  FOOTER  */

.footer {
    padding:2%
}

.footer p {
   color: #f0f0f0 }
 